<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="/">
                <p>Home</p>
            </a>
        </li>
        <!-- <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/connected-equipment">
                <p>Connected Equipement</p>
            </a>
        </li> -->
        <!-- <li class="{% if 'map' in segment %} active {% endif %}">
            <a href="/trafic">
                <p>Trafic</p>
            </a>
        </li> -->
        <li class="{% if 'map' in segment %} active {% endif %}">
            <a href="/white-list">
                <p>White List</p>
            </a>
        </li>
    </ul>
</div>